<h1 class="page-header">Orders</h1>
<div class="orders">
  <table class="table table-striped">
    <tr>
      <th>Channel</th>
      <th>Invoice Number</th>
      <th>Customer Name</th>
      <th>Description</th>
      <th>Status</th>
      <th></th>
    </tr>
    <tr *ngFor="let order of orders">
      <td>{{order.channel}}</td>
      <td>{{order.invoice_number}}</td>
      <td>{{order.customer_name}}</td>
      <td>{{order.description}}</td>
      <td>{{order.status}}</td>
      <td>
        <a routerLink="/order/{{order._id}}" class="btn btn-success">Details</a>
        <a routerLink="/order/edit/{{order._id}}" class="btn btn-default">Edit</a>
        <a href="" (click)="onDeleteClick(order._id)" class="btn btn-danger">Delete</a>
      </td>
  </table>
</div>
